NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up 
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard 
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard 
NEXT_PUBLIC_LIVE_URL=localhost:3000

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://qirdapbydjsezcbrmdte.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFpcmRhcGJ5ZGpzZXpjYnJtZHRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1OTQ4NTEsImV4cCI6MjA5MjE3MDg1MX0.51Yt0JIizXlJWTMcS71EAx7fvlVlVW-ztfmr4RM84fk

# Retell AI
RETELL_API_KEY=

# OpenAI
OPENAI_API_KEY=

# OpenRouter
OPENROUTER_API_KEY=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
OPENROUTER_MODEL=mistralai/mistral-7b-instruct:free


